@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cinzel:wght@500&family=Ephesis&family=Josefin+Sans:ital,wght@1,100;1,400&family=Noto+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}   

body {
    height: 100%;
    background: url(./images/bg1.jpg) left bottom no-repeat fixed ;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    text-shadow: -.2rem -.2rem .5rem rgb(54, 54, 54);
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: #4c4a45;
}

.description {
    /* font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem; */
    font: italic 2rem 'Playfair Display', sans-serif;
}

.title, 
.description {
    margin: .3rem;
}

.header {
    margin: 1rem auto;
    text-align: center;
}

hr {
    margin: 2.5rem auto;
    width: 90%;
    border: 3px solid #6c6a62;
    border-radius: 10px 10px 10px 10px;
}

.container {
    margin: 1rem auto;
    max-width: 50%;
    background: linear-gradient(
        -130deg, 
        rgba(150,140,155,.65) 0%, 
        rgba(204,221,200,.65) 46%,
        rgba(143,155,140,.65) 100%);
    border-radius: 2% 2% 2% 2% / 2% 2% 2% 2% ;
    box-shadow:
    5.6px -6.1px 1.5px rgba(0, 0, 0, 0.161),
    11.1px -12.1px 3.7px rgba(0, 0, 0, 0.19),
    16.3px -17.8px 6.9px rgba(0, 0, 0, 0.187),
    21.8px -23.7px 12.3px rgba(0, 0, 0, 0.175),
    29.1px -31.7px 23px rgba(0, 0, 0, 0.173),
    67px -73px 55px rgba(0, 0, 0, 0.28);
    
}

.survey-form {
    margin: 0 auto;
    max-width: 70%;
    min-width: 30rem;
    padding-bottom: 2rem;
    width: 60vw;
    font-size: 1.6rem;
    font-weight: 600;
}

fieldset {
    min-width: 80%;
    display: block;
    margin: 0;
    border: none;
    background-color: #7D8F6949;
    /* border-bottom: 5px solid #7D8F69; */
    font-family: 'Playfair Display', serif ;
    border-radius: .5rem;
    margin-bottom: .3rem;
    /* box-shadow: 2px -2px 1px 1px #00000048; */

}

legend {
    text-align: center;
    background-color: #455742;
    color :#D5D6C2;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.name-input,
.age,
.email {
    min-width: 100%;
    border-radius: .5rem;
    background-color: #7D8F69;
    color: #ffffff;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: .5rem;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    box-shadow: 2px -2px 1px 1px #00000048;
    height: 4rem;
    border-radius: 0.5rem;
    /* background-color: rgba(204,221,200,.65); */
    background-color: #516a25;
    color: #D5D6C2;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type="submit"]:hover {
    transform: translateX(5px);
    box-shadow: 2px -2px 1px 1px #000000ff;;
    background-color: #2b3914;
}

input::placeholder {
    color: #E6E5A3;
    font-size: 1.4rem;
    font-style: italic;
}

label {
    display: block;
}

fieldset:last-of-type {
    margin-bottom: 1rem;
}

.radio-option, .checkbox-option {
    width: unset;
    vertical-align: center;
    margin-right: .5rem;
    outline: none;
}

textarea {
    width: 100%;
    background-color: #E6E5A3;
    outline: none;
}

textarea::placeholder {
    color: #2f2f2f;
}

select {
    border-radius: .5rem;
    background-color: #E6E5A3;
    outline: none;
}

span {
    font-style: italic;
}

@media (max-width: 650px) {

}